body {
  font-family: sans-serif;
  width: 100%;
}
.App{
  padding-top: 10px;
}
.App-logo{
  width: 120px;
  height: 60px;
}
.App-header{
  padding-top: 1px;
}
.date{
  padding-top: 20px;
}
.homepage{
  position: relative;
  padding-top: 20px;
  text-align: center;
}
.button{
  padding-top: 40px;

}
.content{
  padding-left: 0%;
  width: 100%
}
.ui.container {
  width: 95%;}
